include navis/data/*.md
include navis/data/gml/*.gml
include navis/data/swc/*.swc
include navis/data/synapses/*.csv
include navis/data/volumes/*.obj
include navis/data/obj/*.obj
include navis/meshes/templates/*
include navis/nbl/score_mats/*
