h5py>=3.1
matplotlib>=3.9
morphops>=0.1.11
ncollpyde>=0.18
networkx>=2.4
numpy>=1.16
pandas>=1.0
pint>=0.10
pynrrd>=0.4.2
pypng>=0.0.18
requests>=2.20
seaborn>=0.10
setuptools>=65.5.1
scipy>=1.5
six>=1.11
tqdm>=4.45
typing-extensions>=3.7.4
trimesh>=3.8
fuzzywuzzy>=0.18
molesq>=0.2.0
rdata>=0.5
igraph!=0.10.0,!=0.10.1
skeletor>=1.0.0

pathos>=0.2.7 #extra: pathos

Shapely>=1.6.0  #extra: shapely

rpy2  #extra: r

pykdtree  #extra: kdtree

xxhash  #extra: hash

flybrains  #extra: flybrains

cloud-volume>=5.2.0  #extra: cloudvolume

navis-fastcore>=0.0.4  #extra: fastcore

plotly>=4.9  #extra: plotly

k3d #extra: k3d

#extra: vispy-default

vispy[pyside6]>=0.6.4
jupyter_rfb>=0.4.1

#extra: octarine-default

octarine3d[all]>=0.2.3
octarine-navis-plugin>=0.1.1

#extra: meshes

open3d; python_version < "3.12"
pyfqmr

#extra: test-notebook

jupyter
neuprint-python
caveclient
cloud-volume
flybrains
Shapely>=1.6.0

#extra: dev

flake8
wheel
mypy
pytest
pytest-env
pytest-xvfb
pytest-timeout
gitpython

#extra: docs

mkdocs
mkdocs-material[imaging]
mkdocs-gen-files
mkdocstrings[python]
mkdocs-glightbox
mkdocs-gallery
markdown-exec
mkdocs-section-index
mkdocs-literate-nav
mkdocs-minify-plugin
mkdocs-autorefs
mkdocs-macros-plugin