matplotlib~=3.1
numpy~=1.16
networkx~=2.4
pandas~=1.0
pint~=0.10
plotly~=4.9
pypng~=0.0.18
PyQt5~=5.15
requests~=2.20
requests-futures~=1.0.0
Shapely~=1.6.0
seaborn~=0.10
setuptools~=45
scipy~=1.5
six~=1.11
tqdm~=4.45
vispy~=0.6.4
typing-extensions~=3.7.4
trimesh~=3.7
ncollpyde~=0.10
# Below are optional dependencies
# py2cytoscape~=0.7.0
# pyoctree~=0.2.10
# ete3~=3.0.0b35
# rpy2~=2.9.4
# fuzzywuzzy[speedup]~=0.17.0
