h5py>=3.1
matplotlib>=3.3
morphops>=0.1.11
ncollpyde>=0.18
networkx>=2.4
numpy>=1.16
pandas>=1.0
pint>=0.10
plotly>=4.9
pynrrd>=0.4.2
pypng>=0.0.18
requests>=2.20
seaborn>=0.10
setuptools>=50.6
scipy>=1.5
six>=1.11
tqdm>=4.59
typing-extensions>=3.7.4
trimesh>=3.8
# without backend, as we use some utility functions
vispy>=0.6.4
fuzzywuzzy>=0.18
molesq>=0.2.0
rdata>=0.5
skeletor>=1.0.0

igraph  #extra: igraph

pathos>=0.2.7 #extra: pathos

Shapely>=1.6.0  #extra: shapely

rpy2  #extra: r

pykdtree  #extra: kdtree

xxhash  #extra: hash

flybrains  #extra: flybrains

cloud-volume>=5.2.0  #extra: cloudvolume

dask  #extra: dask

# this should inherit the vispy version constraint from above
vispy[pyside6]  #extra: vispy-default

#extra: meshes

open3d
pyfqmr

#extra: test-notebook

jupyter
neuprint-python
Shapely>=1.6.0

#extra: dev

flake8
wheel
mypy
pytest
pytest-benchmark
pytest-env
pytest-xvfb
gitpython
