/* From https://github.com/twbs/bootstrap/issues/1768 */
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

table {
    /*Uncomment to center tables horizontally*/
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    /*table-layout: fixed;*/
}

thead {
    border-bottom: 1px solid;
    vertical-align: bottom;
}

tr, th, td {
    text-align: left;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background: rgb(50, 50, 50);
}

tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}

/* This prevents default style limit max width*/
div.body {
    min-width: 450px;
    max-width: 1200px !important;
}

ul {
    padding-left: 20px !important;
}

ul.dropdown-menu {
    padding-left: 0px !important;
}

blockquote p {
    font-size: 14px !important;
}

blockquote {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin: 0 0 0px !important;
}

pre {
    background-color: rgb(180, 180, 180) !important;
    width: 90% !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

dt:target, span.highlighted {
    background-color: rgb(100, 100, 100);
}

code {
    background-color: rgb(200, 200, 200) !important;
}

:root {
  --sd-color-card-header: rgb(70, 70, 70);
  --sd-color-card-background: rgb(40, 40, 40);
}
