# The purpose of this workflow is to test a full install
# as opposed to cloning + pip install -e which is what we
# do for the other tests. The main difference here is that
# we do a proper install including building wheels from the
# source distribution. This will reveal any issue in with
# the configuration (e.g. if `find_packages` is not correctly
# configured)

name: Test install

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
    runs-on: ${{ matrix.os }}
    steps:
      # This cancels any such job that is still runnning
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Linux libraries
      run: |
        sudo apt-get install -y libdbus-1-3 libxkbcommon-x11-0 libxcb-icccm4 \
          libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 \
          libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0
      if: ${{ matrix.os == 'ubuntu-latest' }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip wheel
    - name: Install navis from Github
      run: pip install git+https://github.com/navis-org/navis@master
    - name: Test import
      run: python3 -c "import navis"
