name: Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        with-igraph: ["TRUE", "FALSE"]
    steps:
      # This cancels any such job that is still runnning
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Linux libraries
      run: |
        sudo apt-get install -y libdbus-1-3 libxkbcommon-x11-0 libxcb-icccm4 \
          libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 \
          libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install flake8 pytest pytest-env pytest-xvfb gitpython
        pip install -r requirements.txt
        pip install flybrains --no-deps
    - name: Install navis
      run: |
        pip install -e .
    - run: pip install python-igraph
      if: ${{ matrix.with-igraph == "TRUE" }}
    - name: Test with igraph
      run: pytest --verbose
